<div class="contenedorContactenos">

    <div class="contenido-contactenos">
                 
        <div>
            <form  class="formulario-contacto" action="">

              Nombre <input type="text" name="nombre" value="">
              Apellido <input type="text" name="apellido" value="">
              Masculino <input type="radio" name="sexo" value="masculino">
              Femeinino <input type="radio" name="sexo" value="femenino">
               Mail <input type="email" name="mail" value="">
               Celular <input type="text" name="celular" value="">
               Localidad <input type="text" name="localidad" value="">
               Domicilio <input type="text" name="domicilio" value="">
                          
              <p>Deje su consulta aqui</p>
               
               <textarea name="text" id="" cols="30" rows="10"></textarea>         
               
                <p class="boton">
                 <input id="enviar" class="enviar" type="submit" name="enviar" value="enviar">
               
           </form>
        </div>